
@{
    ViewBag.Title = "Index";
}


<h1>Home</h1>

<p>
    This pages contains links to the other pages on this website. These pages include: 
    a temperature converter, a time converter, and a lone calculator. 
</p>

<ul>
    <li>@Html.ActionLink("Page 1", "Page1")</li>
    <li>@Html.ActionLink("Page 2", "Page2")</li>
    <li>@Html.ActionLink("Page 3", "Page3")</li>
</ul>
